* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1320px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.color {
    height: 1000px;
    background: url('../img/symbol.svg') no-repeat center top,
                linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-size: 523px 600px, cover;
}